/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* Nav */

    /* Responsive settings */
    @media all and (min-width: 768px ){
        .nav_logo{
            content:url("../img/boolean\ logo\ +\ text.png")
        }

    }

    @media all and (max-width: 768px){
        .list_obj_nav,
        .question_obj_nav, 
        .vertical_obj_nav {
            display: none;
        }
    }


    /* Properties */
    .nav_obj_cont{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .bell_obj_nav{
        color: orange;
    }


/* Sidebar */

    /* Responsive settings */
    @media screen and (min-width: 768px){
        .sidenav{
           width: 180px;
        }
    }

    .sidenav{
        min-width: 80px;
        height:100%;
        background-color: #0e253b;
        position: fixed;
        z-index: 600;
        top: 0;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    

/* main */

    /* Main header */
    .main_header{
        margin-bottom: 30px;
        background-color: #1b72e8;
        display: flex;
        align-items: center;
    }

        .main_header_items{
            outline: black solid 1px;
            padding: 10px 15px;
            color: #fff;
        }

            .header_main_title{
                font-size: 25px;
                width: 100px;
            }

            .chip{
                display: flex;
                justify-content: center;
                align-self: center;
                height: 20px;
                background-color: #124c9b;
                border-radius: 10px;
                margin: 0 10px;
                text-align: center;
                font-size: 13px;
            }

                .chip_micro{
                    width: 10px;
                    display: none;
                }

                .chip_little{
                    width:60px
                }

                .chip_medium{
                    width:70px;
                }

                .chip_long{
                    width: 150px;
                }

            .students_online{
                font-size: 15px;
            }

            .students_count{
                font-size: 30px;
            }

@media screen and (max-width: 1408px){
    .chip_micro{
        display: flex;
    }

    .chip_medium,
    .chip_long{
        display: none;
    }

    .always_seen{
        display: flex;
    }
}

    /* Main main */

    .main_container{
        margin-left: 180px;
        margin-top: 56px;
        width: calc(100% - 180px);
        padding-bottom: 30px;
    }

    @media screen and (max-width: 768px){
        .main_container{
           margin-left: 80px;
           width: calc(100% - 80px);
        }
    }

    .main_container_margins{
        /* height: 1000px; */
        margin-left: 10px;
        margin-right: 10px;
        border: black solid 1px;
        display: flex;
        flex-wrap: wrap;
    }

        .cards_container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;

        }

        .next_classes{
            outline: black 1px solid;
            border-radius: 10px;
            background-color: #fff;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 30px;
            justify-content: center;
            margin-bottom: 10px;
            overflow: hidden;

        }

            .classes_title{
                background-color: #97979765;
                font-size: 30px;
                display: flex;
                justify-content: center;

            }

            .order_classes_row{
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom: black 1px solid;
                display: flex;
                font-weight: bold;
                font-size: 12px;
            }

                .code_symbol{
                    width: 30px;
                    height: 30px;
                    font-size: 15px;
                    padding: 5px;
                    background-color: #dc3545;
                    color: #fff;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .col_name{
                    width: 100%;
                }

                .dimensions_tab_items{
                    min-width: 300px;
                    display: flex;
                    padding-left: 15px;
                }


                    .col_date{
                        width: 35%;
                    }

                    .col_roi{
                        width: 15%;
                    }

                    .col_state{
                        width: 20%;
                    }

                    .col_action{
                        width: 30%;
                    }

            .classes_row{
                border-bottom: rgba(57, 57, 57, 0.575) 1px solid;
                display: flex;
                padding: 15px 0;
            }

                .inside_tab_state{
                    display: flex;
                    justify-content: center;
                    font-size: 10px;
                    background-color: aqua;
                    border-radius: 5px;
                    color: #fff;
                }

                    .state_green{
                        background-color: #198754;
                        width: 60%;
                    }

                    .state_yellow{
                        background-color: #ffc107;
                        width: 70%;
                    }

                    .state_red{
                        background-color: #dc3545;
                        width: 65%;
                    }